.grid-section-one {
  border: 1px white solid;
  text-align: center;
  width: 70%;
  margin: auto;
  height: 900px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: minmax(400px, auto);

  justify-items: stretch;
  align-items: stretch;
  grid-gap: 1em !important;
  padding: 10px;
}

.grid-section-one > div {
  border: 1px #fff solid;
  display: relative;
}

.img1 {
  width: 700px;
  transform: scale(1.3);
}
