.grid-section-one {
  display: block;
  text-align: center;
  width: 70%;
  margin: auto;
}

.grid-section-one > div {
  border: 1px #fff solid;
  align-self: center !important;
  justify-self: center !important;
  overflow: visible;
}

.p1 {
  display: grid;
  grid-template-columns: 1fr 1fr;

  justify-items: stretch;
  align-items: stretch;
}

.p1-img {
  /* animation: scaleDown;
  animation-duration: 3s; */
}
.p1-text {
  padding: 10px;

  align-self: center;
  background-color: rgba(0, 0, 0, 0.63);
}

.img1 {
  width: 100%;
}

@keyframes scaleDown {
  0% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 720px) {
}
@media only screen and (max-width: 648px) {
}
