.header .grid-container {
  margin: auto;
}

.intro-heading {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 30px;
  text-align: center;
}

.intro-heading-lead {
  font-size: 20px;
}

.grid-container {
  justify-self: center;
  align-self: center;
  display: grid;
  width: 600px;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-container > div {
  width: 200px;
  height: 100px;
  border: 1px yellow solid;
  margin: 0;
}

.intro-heading-lets {
  padding-top: 20px;
  font-size: 40px;
  margin: 0;
}
.intro-heading-do {
  padding-top: 20px;
  font-size: 40px;
  margin: 0;
}
.intro-heading-this {
  padding-top: 20px;
  font-size: 40px;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .intro-heading-lets {
    font-size: 25px;
  }

  .header {
    margin-right: 80px;
  }

  .header .grid-container {
    text-align: center;
    margin: auto;
  }

  .grid-container {
    text-align: center;
    width: 80%;
    grid-gap: 0.3em !important;
  }

  .grid-container > div {
    width: 70px;
    height: 40px;
    border: 1px yellow solid;
    justify-self: center;
    align-self: center;
  }

  .intro-heading-lets {
    padding: 0;
    font-size: 25px;
    animation: lets;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
  .intro-heading-do {
    padding: 0;
    font-size: 25px;
    animation: lets;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
  .intro-heading-this {
    padding: 0;
    font-size: 25px;
    animation: lets;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }

  @keyframes lets {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
