.header {
  margin-bottom: 50px;
}
.header .grid-container {
  margin: auto;
}

.intro-heading {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 30px;
  text-align: center;
}

.intro-heading-lead {
  font-size: 20px;
}

.grid-container {
  display: grid;
  height: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.4em;
  justify-items: stretch;
  align-items: stretch;
}

.grid-container > div {
  width: 200px;
  height: 100px;
  margin: 0;
  justify-self: center;
  align-self: center;
  height: auto;
}

.intro-heading-lets {
  margin: 0;
  padding: 0;
  font-size: 50px;
  animation: opacityOn 2s ease forwards;
  animation-timing-function: linear;
}
.intro-heading-do {
  margin: 0;
  padding: 0;
  font-size: 50px;
  animation: opacityOn;
  animation: opacityOn 2.5s ease forwards;
}
.intro-heading-this {
  margin: 0;
  padding: 0;
  font-size: 50px;
  animation: opacityOn;
  animation: opacityOn 3s ease forwards;
}

.grid-item {
  height: 100% !important;
  width: 100%;
}

@keyframes opacityOn {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 1300px) {
  .intro-heading-lets {
    font-size: 35px;
  }
  .intro-heading-do {
    font-size: 35px;
  }
  .intro-heading-this {
    font-size: 35px;
  }
}

@media only screen and (max-width: 1024px) {
  .grid-container > div {
    width: 150px;
    justify-self: center;
    align-self: center;
    height: auto;
  }
  .intro-heading-lets {
    font-size: 35px;
  }
  .intro-heading-do {
    font-size: 35px;
  }
  .intro-heading-this {
    font-size: 35px;
  }
}
@media only screen and (max-width: 712px) {
  .intro-heading-lets {
    font-size: 25px;
  }
  .intro-heading-do {
    font-size: 25px;
  }
  .intro-heading-this {
    font-size: 25px;
  }
  .grid-container {
    width: 100%;
  }
}
@media only screen and (max-width: 648px) {
  s .grid-container > div {
    width: 115px;
  }

  .grid-container {
    width: 100%;
  }
  .intro-heading-lets {
    font-size: 25px;
  }
  .intro-heading-do {
    font-size: 25px;
  }
  .intro-heading-this {
    font-size: 25px;
  }
}
@media only screen and (max-width: 512px) {
  .grid-container > div {
    width: 100px;
  }
  .grid-container {
    width: 100%;
  }
  .intro-heading-lets {
    font-size: 25px;
  }
  .intro-heading-do {
    font-size: 25px;
  }
  .intro-heading-this {
    font-size: 25px;
  }
}
@media only screen and (max-width: 411px) {
  .grid-container > div {
    width: 90px;
  }
  .intro-heading-lets {
    padding: 0 !important;
    margin: 0;
    font-size: 30px;
  }
  .intro-heading-do {
    padding: 0 !important;
    margin: 0;
    font-size: 30px;
  }
  .intro-heading-this {
    padding: 0 !important;
    margin: 0;
    font-size: 30px;
  }
}
@keyframes opacityOn {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
