body {
  overflow: scroll;
  font-family: 'Prompt', sans-serif;
  animation: fadein;
  animation-duration: 1.1s;
  background-color: #000;
  max-width: 100%;
  overflow-x: hidden;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 2000px;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(6, 5, 15, 0.6);
  animation: fadein;
  color: white;
}

.content {
  text-align: center;
}

.header {
  margin-top: 80px;
}

.presentation {
  text-align: center;
}

@media only screen and (min-width: 1212px) {
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 900px) {
}
@media only screen and (max-width: 712px) {
}
@media only screen and (max-width: 648px) {
}
@media only screen and (max-width: 411px) {
}
