#background-video {
  display: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;

  animation-duration: 1.1s;
}

.video {
  animation: opacityOn 3s ease forwards;
}
@keyframes opacityOn {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }

  99% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    visibility: hidden;
  }
}

@media only screen and (max-width: 1024px) {
  * {
    overflow: hidden;
  }

  #background-video {
    transform: translateX(900px);
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
  }
}
@media only screen and (max-width: 720px) {
  * {
    overflow: hidden;
  }

  #background-video {
    display: relative;
    width: auto;
  }
}
@media only screen and (max-width: 648px) {
  * {
    overflow: hidden;
  }

  #background-video {
    display: relative;
    width: auto;
  }
}
